* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container .movie-card {
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 5px;
  flex-basis: 33.3333333333%;
}

